# Windows
desktop.ini
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store